@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.scrollbar {
  @apply overflow-auto rounded-lg;

  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background-color: #94a3b8;
  border: 3px solid #f1f5f9;
}

:where(.dark, .dark *) .scrollbar {
  scrollbar-color: #4b5563 #1f2937;
}

:where(.dark, .dark *) .scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
}

:where(.dark, .dark *) .scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border: 3px solid #1f2937;
}

html {
  scroll-behavior: smooth;
}

option {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1f2937;
}

@media (prefers-color-scheme: dark) {
  option {
    background-color: rgba(31, 41, 55, 0.8);
    color: #f3f4f6;
  }
}

@keyframes slow-pan {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10px, -10px) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.slow-move {
  animation: slow-pan 20s ease-in-out infinite;
}
