---
// Third-party dependencies

// Current project dependencies
import Layout from "../layouts/Main.astro";
---

<Layout
  description="Quiero que sepas cuánto te quiero y lo importante que sos para mí."
  image="/assets/thumbnails/home.png"
  title="Para vos, con todo mi cariño"
>
  <div
    class="mx-auto max-w-xl rounded-xl border border-white/30 bg-white/20 p-6 text-gray-200 shadow-lg backdrop-blur-md dark:border-gray-700/50 dark:bg-gray-900/30 dark:text-gray-200"
  >
    <p class="mb-4">Hola,</p>

    <p class="mb-4">
      Te escribo para decirte que <span class="font-semibold"
        >sos la persona que más quiero</span
      > y con quien quiero compartir todo. No sé muy bien cómo expresar lo que ya
      sabes, pero quiero que sepas que <span class="font-semibold"
        >mis sentimientos hacia vos son sinceros</span
      > y que quiero ser la mejor versión de mí para vos.
    </p>

    <p class="mb-4">
      Sé que estas dos semanas han sido muy distintas al último mes y medio, y
      quiero recuperar ese tiempo que no pasamos juntos. Hice todo esto
      rápidamente para poder tener algo con lo cual hacerte una pregunta que
      para mí es importante.
    </p>

    <p class="mb-4">
      Hay muchas canciones que me recuerdan a vos y a cómo eras, y quiero
      cantártelas sin miedo a parecer raro. Da igual si soy un poco extraño,
      mientras a vos te guste y me quieras así, no habrá problema.
    </p>

    <p>
      Quiero que sepas que <span class="font-semibold"
        >sos lo más importante para mí</span
      >, y que estar a tu lado me hace feliz de verdad.
    </p>
  </div>

  <div
    class="background-moving fixed inset-0 -z-20"
    style={`background-image: url('/assets/thumbnails/home.png'); background-size: cover; background-position: center;`}
  >
  </div>

  <div class="fixed inset-0 -z-10 bg-black/70"></div>
</Layout>
