---
// Third-party dependencies

// Current project dependencies
import navLinks from "../../constants/nav";
import HamburgerMenu from "./HambuguerMenu";

const siteName = import.meta.env.PUBLIC_SITE_NAME;
---

<header
  class="transform-colors z-50 mb-2 w-full border-b border-black/25 bg-white duration-200 dark:border-white/25 dark:bg-gray-950"
>
  <nav class="mx-auto flex w-full max-w-6xl items-center justify-between p-5">
    <a
      class="text-md transform-colors font-bold text-gray-900 duration-200 dark:text-white"
      href="/"
    >
      {siteName || "N/A Site Name"}
    </a>

    <div class="hidden gap-6 md:flex">
      {
        navLinks.map((link) => (
          <a
            class="font-semibold text-gray-700 underline-offset-4 transition-colors duration-300 hover:text-gray-900 hover:underline dark:text-gray-300 dark:hover:text-white"
            href={link.href}
          >
            {link.label}
          </a>
        ))
      }
    </div>

    <HamburgerMenu client:load />
  </nav>
</header>
