---
// Third-party dependencies
import type { User } from "@prisma/client";

// Current project dependencies
import timeAgo from "../../../utils/timeAgo";
import ShareButton from "./ShareButton";

type Props = {
  writtenAt: string;
  creator: User;
  views?: number;
};

const { writtenAt, creator } = Astro.props;
const currentUrl = Astro.url;
---

<div
  class="mt-4 flex flex-col gap-2 border-t border-gray-300 pt-4 text-sm text-gray-600 dark:border-gray-600 dark:text-gray-400"
>
  <div class="flex items-center justify-between">
    <span>
      Por:{" "}
      <strong class="text-gray-900 dark:text-gray-100">
        {`${creator.firstName || ""} ${creator.lastName || ""}`}
      </strong>
    </span>

    <ShareButton client:load url={String(currentUrl)}>
      Copiar enlace
    </ShareButton>

    <span>
      Publicado:{" "}
      <strong class="text-gray-900 dark:text-gray-100">
        {writtenAt ? `${timeAgo(writtenAt)}` : "Fecha desconocida"}
      </strong>
    </span>
  </div>
</div>
