---
// Third-party dependencies

// Current project dependencies

type Props = {
  currentIndex: number;
  total: number;
  prevDeYoPaTuLink: string;
  nextDeYoPaTuLink: string;
};

const { currentIndex, total, prevDeYoPaTuLink, nextDeYoPaTuLink } = Astro.props;
---

<div class="mx-auto mt-3 flex w-full max-w-3xl flex-col gap-4">
  <div
    class="text-md flex justify-center font-semibold text-teal-600 sm:hidden dark:text-teal-400"
  >
    <span>
      {currentIndex + 1} / {total}
    </span>
  </div>

  <div
    class="mx-auto w-full max-w-3xl rounded-xl border border-white/40 bg-white/70 p-6 shadow-lg backdrop-blur-md dark:border-gray-700/40 dark:bg-gray-800/40"
  >
    <div
      class="text-md flex flex-col gap-4 font-semibold md:flex-row md:items-center md:justify-between"
    >
      {
        prevDeYoPaTuLink ? (
          <a
            class="w-full rounded-xl border border-gray-200/50 bg-gray-100/70 px-6 py-3 text-center font-semibold text-teal-700 shadow-md backdrop-blur-sm transition-colors hover:bg-teal-600 hover:text-white hover:shadow-lg sm:w-auto dark:border-gray-700/50 dark:bg-gray-800/70 dark:text-gray-100 dark:hover:bg-teal-600"
            href={prevDeYoPaTuLink}
          >
            Anterior
          </a>
        ) : (
          <span class="w-full rounded-xl border border-gray-200/50 bg-gray-300/50 px-6 py-3 text-center font-semibold text-gray-500 opacity-60 backdrop-blur-sm sm:w-auto dark:border-gray-700/50 dark:bg-gray-700/50 dark:text-gray-400">
            Anterior
          </span>
        )
      }

      <div class="hidden flex-1 justify-center md:flex">
        <span class="text-gray-600 dark:text-gray-300">
          {currentIndex + 1} / {total}
        </span>
      </div>

      {
        nextDeYoPaTuLink ? (
          <a
            class="w-full rounded-xl border border-gray-200/50 bg-gray-100/70 px-6 py-3 text-center font-semibold text-teal-700 shadow-md backdrop-blur-sm transition-colors hover:bg-teal-600 hover:text-white hover:shadow-lg sm:w-auto dark:border-gray-700/50 dark:bg-gray-800/70 dark:text-gray-100 dark:hover:bg-teal-600"
            href={nextDeYoPaTuLink}
          >
            Siguiente
          </a>
        ) : (
          <span class="w-full rounded-xl border border-gray-200/50 bg-gray-300/50 px-6 py-3 text-center font-semibold text-gray-500 opacity-60 backdrop-blur-sm sm:w-auto dark:border-gray-700/50 dark:bg-gray-700/50 dark:text-gray-400">
            Siguiente
          </span>
        )
      }
    </div>
  </div>
</div>
