---
// Third-party dependencies

// Current project dependencies
import BaseHead from "../components/Common/BaseHead.astro";
import Header from "../components/Common/Header.astro";
import ScrollTop from "../components/Buttons/ScrollTop";
import ThemeSwitcher from "../components/Buttons/ThemeSwitcher";
import cn from "../utils/cn";
import AuthGuard from "../components/Common/AuthGuard";

type Props = {
  title?: string;
  description?: string;
  image?: string;
  containerClassnames?: string;
  remoteAssets?: boolean;
};

const {
  title = "",
  description = "",
  image = "",
  containerClassnames,
  remoteAssets = false,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      description={description}
      image={image}
      remoteAssets={remoteAssets}
      title={title}
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-gray-50 text-black transition-colors duration-200 dark:bg-gray-950 dark:text-white"
  >
    <AuthGuard client:only="AuthGuard">
      <Header />

      <main
        class:list={cn(
          "mx-auto w-full max-w-4xl flex-1 overflow-auto p-2",
          containerClassnames || "",
        )}
        transition:animate="fade"
      >
        <slot />
      </main>
    </AuthGuard>

    <div
      class="fixed right-4 bottom-4 z-[90] flex flex-col items-center justify-center gap-2"
    >
      <ScrollTop client:load />
      <ThemeSwitcher client:load />
    </div>
  </body>
</html>
