---
// Third-party dependencies

// Current project dependencies
import BaseHead from "../components/Common/BaseHead.astro";
import Header from "../components/Common/Header.astro";
import Footer from "../components/Common/Footer.astro";
import ScrollTop from "../components/Buttons/ScrollTop";
import ThemeSwitcher from "../components/Buttons/ThemeSwitcher";
import cn from "../utils/cn";

type Props = {
  title?: string;
  description?: string;
  image?: string;
  containerClassnames?: string;
};

const {
  title = "",
  description = "",
  image = "",
  containerClassnames,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead description={description} image={image} title={title} />
  </head>

  <body
    class="flex min-h-screen flex-col bg-gray-50 text-black transition-colors duration-200 dark:bg-gray-950 dark:text-white"
  >
    <Header />

    <main
      class:list={cn("my-3 flex-1 overflow-auto", containerClassnames || "")}
      transition:animate="fade"
    >
      <slot />
    </main>

    <div
      class="fixed right-4 bottom-4 z-[90] flex flex-col items-center justify-center gap-2"
    >
      <ScrollTop client:load />
      <ThemeSwitcher client:load />
    </div>

    <Footer />
  </body>
</html>
